<head>
  <script src="/global.js" type="text/javascript" charset="utf-8"></script>
</head>

<h1>Slideshow!</h1>
<p>The time is <strong><%= Time.now %></strong>.</p>

<hr>

<p>Use the next button to begin the slideshow. To go back to a previous slide, click the previous button.</p>

<a id="prevSlide" href="#">Previous</a>|<a id="nextSlide" href="#">Next</a>
