<!DOCTYPE html>
  <html>
    <head>
      <title>Slideshow</title>
      <script src="/global.js" type="text/javascript" charset="utf-8"></script>
      <link rel="stylesheet" href="/style.css">  
    </head>
    
    <body onLoad="findNextSlide()">
      <%= yield %>
    </body>
  </html>