<h1>Slideshow!</h1>
<div class="time">
  <p>The time is <strong><%= Time.now %></strong>.</p>
</div>
  
<hr>

<p>Use the next button to begin the slideshow. To go back to a previous slide, click the previous button.</p>

<div class="buttons">
  <a id="prevSlide" href="#">Previous</a>|<a id="nextSlide" href="#">Next</a>
</div>

<div id="title">
</div>

<div id="text">
</div>

